.benefits {
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.benefits__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
}

.benefits__item {
  width: 100%;
  height: 226px;
  border-radius: 4px;
  margin-bottom: 30px;
  &:last-child {
    margin: 0;
  }

  @media screen and (min-width: 768px) {
    flex-basis: 354px;
    height: 251px;

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    flex-basis: 270px;
    height: 251px;
    margin-bottom: 0;
  }
}

.benefits__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background: #f5f4fa;
  margin-bottom: 30px;
}

.benefits__icon {
  width: 70px;
  height: 70px;
}
.benefits__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;

  color: $title-color;
}
.benefits__text {
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  color: $text-color;
}
