.footer {
  background: $bg-color;
}
.footer__container {
  color: $white-color;
}

.footer__address {
//   display: block;

  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 60px;
}

.footer__logo {
  margin-bottom: 20px;
}

.address__item {
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);

  &:first-child {
    color: #ffffff;
  }
  &:last-child {
    margin: 0;
  }
}

// social
.footer__social {
//   display: block;
  text-align: center;
  margin-bottom: 60px;
}

.footer__sub-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  padding-top: 12px;
  margin-bottom: 20px;
  color: $white-color;
}

.social__item--color {
  background-color: rgba(255, 255, 255, 0.1);
  fill: $white-color;
}

// field

.footer__field {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.footer__field-box {
  & .button {
    margin: 0 auto;
  }
}

.footer__input {
  width: 100%;
  padding: 15px 16px;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border: 1px solid $active-color;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer__field {
  }
  .footer__field-box {
  }
  .footer__input {
	width: 450px;

  }
  .footer__address {
    display: inline-block;
    margin-left: 61px;
  }
  .footer__social {
    display: inline-block;
    margin-right: 61px;
  }
  .footer__field {
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
	flex-wrap: nowrap;
	justify-content:flex-start;
  }
  .footer__field {
    display: inline-block;
    margin-left: auto;
  }
  .footer__field-box {
    display: flex;
  }
  .footer__input {
    width: 358px;
    padding: 15px 16px;
    margin-right: 12px;
    margin-bottom: 0;
  }
  .footer__address {
    text-align: left;
	margin-left: 0;
    margin-right: 70px;
    margin-bottom: 0;
  }
  .footer__social {
    text-align: left;
    margin-right: 93px;
    margin-bottom: 0;
  }
  .footer__field {
    display: inline-block;
    text-align: left;
    margin: 0;
    margin-left: auto;
  }
}
